footer {
  background-color: var(--contrast-brand-color);
  margin-top: 20px;
  padding: 15px 15px 20px;
  color: var(--background-color);

  >div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >* {
      padding-right: 5px;
    }
  }

  .p-footer {
    flex-shrink: 1;

    a {
      color: var(--background-color);

      &:hover {
        color: var(--light-grey-color);
      }
    }
  }

  .p-social {
    height: 40px;
    flex-shrink: 0;

    a {
      margin-left: 25px;

      img {
        height: 100%;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer > div {
    flex-direction: column;

    .p-social {
      margin-top: 25px;

      a:first-child {
        margin-left: 0;

      }
    }
  }
}
