footer {
  background-color: var(--contrast-brand-color);
  margin-top: 20px;

  h1 {
    font-size: 1.4rem;
    margin: 0;
  }

  h2 {
    font-size: 1.2rem;
    margin: 0;
  }

  .p-location {
    margin-bottom: -5px;

    .p-arrival {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
    }

    .p-map iframe {
      width: 100%;
      height: 300px;
    }
  }

  .p-network {
    background-color: var(--light-grey-color);
    padding: 20px 0;

    h1 {
      margin-bottom: 20px;
    }

    a {
      color: var(--primary-brand-color);
    }

    .p-network-columns {
      display: grid;
      margin-bottom: 20px;
      grid-template-columns: 80px 1fr;
      grid-column-gap: 30px;

      .p-logo {
        margin-right: 20px;

        a {
          height: auto;
        }
      }

      .p-description p {
        margin: 0;
      }
    }

    .p-network-grid {
      display: grid;
      grid-template-columns: repeat(2, 80px 1fr);
      grid-column-gap: 30px;
    }
  }

  .p-contact {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: var(--light-grey-color);

    .p-social {
      height: 40px;
      display: flex;
      justify-content: center;

      a {
        margin-left: 25px;

        img {
          height: 100%;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer .p-arrival {
    display: inherit;
  }
}

// footer {
//   padding: 15px 15px 20px;
//   color: var(--background-color);

//   >div {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     >* {
//       padding-right: 5px;
//     }
//   }

//   .p-footer {
//     flex-shrink: 1;

//     a {
//       color: var(--background-color);

//       &:hover {
//         color: var(--light-grey-color);
//       }
//     }
//   }



//   .p-arrival {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .p-map {
//     position: relative;
//     left: 0;
//     right: 0;
//   }
// }

// @media screen and (max-width: 576px) {
//   footer>div {
//     flex-direction: column;

//     .p-social {
//       margin-top: 25px;

//       a:first-child {
//         margin-left: 0;

//       }
//     }
//   }
// }
