footer {
  background-color: var(--contrast-brand-color);
  margin-top: 20px;
  padding: 10px 15px;
  color: var(--background-color);

  flex-shrink: 0;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      padding-right: 5px;
    }
  }
  .p-discord {
    height: 40px;
    img {
      height: 100%;
    }
  }

}