header {

  #p-meta-nav,
  #p-page-nav {
    padding: 10px 0;
  }

  #p-meta-nav {
    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  #p-page-nav {
    background-color: var(--primary-brand-color);

    >div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    #p-site-brand {
      margin-right: 50px;
    }

    #p-site-nav {
      ul {
        list-style-type: none;
        padding: 0;

        display: flex;

        a {
          color: var(--background-color);
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          margin-right: 15px;

          &:hover, &:active {
            font-weight: 900;
          }
        }
      }
    }
  }

  // Problem with anchor around object.
  // Solution from https://teamtreehouse.com/forum/how-do-you-make-a-svg-clickable

  #p-site-switcher a,
  #p-site-brand a {
    position: relative;
    display: inline-block;
  }

  #p-site-switcher a:after,
  #p-site-brand a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }
}