header {

  #p-meta-nav {
    padding: 10px 15px;

    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #p-language {
      text-transform: uppercase;

      ul {
        list-style-type: none;
        padding: 0;

        display: flex;

        li {
          margin-left: 5px;
          font-family: var(--primary-font-family);
          font-size: 1em;

          &:not(:first-child)::before {
            content: "|";
          }
        }
      }
    }
  }

  #p-page-nav {
    background-color: var(--primary-brand-color);
    box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 15px;
    text-align: center;

    #p-site-brand {
      padding: 5px 0 25px;
    }

    #p-site-nav {
      display: none;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          font-family: var(--primary-font-family);
          font-size: 1.1em;
        }

        a {
          color: var(--background-color);
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          padding: 10px;
          margin-right: 15px;
          border: 3px solid var(--primary-brand-color);
          font-weight: bold;
          letter-spacing: 0.1em;

          &:hover,
          &:active {
            border-color: var(--background-color);
          }
        }
      }
    }

    #p-site-nav-toggle:checked~#p-site-nav {
      display: block;
    }

    #p-site-nav-toggle {
      display: none;
    }

    #p-site-nav-toggle-label {
      display: flex;
      position: relative;
      justify-content: center;
      height: 25px; // Magic number, better solution?
    }

    #p-site-nav-toggle-label span,
    #p-site-nav-toggle-label span::before,
    #p-site-nav-toggle-label span::after {
      display: block;
      background: var(--background-color);
      height: 2px;
      width: 1.8em;
      border-radius: 2px;
      position: absolute;
    }

    #p-site-nav-toggle-label span::before,
    #p-site-nav-toggle-label span::after {
      content: '';
    }

    #p-site-nav-toggle-label span {
      bottom: 50%;
    }

    #p-site-nav-toggle-label span::before {
      bottom: 7px;
    }

    #p-site-nav-toggle-label span::after {
      top: 7px;
    }

  }

  // Problem with anchor around object.
  // Solution from https://teamtreehouse.com/forum/how-do-you-make-a-svg-clickable

  #p-site-switcher a,
  #p-site-brand a {
    position: relative;
    display: inline-block;
  }

  #p-site-switcher a:after,
  #p-site-brand a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 1000px) {
  header #p-page-nav {
    padding-top: 0;
    padding-bottom: 0;

    #p-site-brand {
      padding: 5px 0;
    }

    >div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }


    #p-site-nav {
      display: block;

      ul {
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
      }
    }

    #p-site-nav-toggle-label {
      display: none;
    }

    #p-site-brand {
      margin-right: 50px;
    }
  }
}