<div class="c-form">
  <form action="https://api.gildedernacht.ch/form/{{ .Get "uid" }}"
    method="POST">
    <div>
      {{ .Inner }}

      <p class="c-form--item c-form-field--text c-form--captcha">
        <label for="private-captcha">Leer lassen</label>
        <input name="private-captcha" type="email" />
      </p>
      <script>document.querySelector('.c-form--captcha').style.display = 'none';</script>

      <input class="c-btn" type="submit" value="{{ i18n "submit" }}">
      <input type="hidden" name="redirect" value="{{ .Page.Permalink }}">
      <input type="hidden" name="identification" value="{{ .Page.Permalink }}">
    </div>
  </form>
</div>
