{{ $title := .Get "title" }}
{{ $start := .Get "start" }}
{{ $end := .Get "end" }}
{{ $genres := .Get "genres" }}
{{ $description := .Get "description" }}
{{ $image := .Get "image" }}

<div class="c-container">

    <div class="c-round-image">
        {{ with $image }}
        <img src="{{ . }}" alt="{{ $title }}">
        {{ end }}
    </div>

    <div class="c-round">
        <h1>{{ $title }}</h1>
        <p class="c-round-date">{{ $start }} &ndash; {{ $end }} Uhr | {{ $genres }}</p>
        {{ with $description }}
        <p>{{ . }}</p>
        {{ end }}
    </div>

</div>
