<div class="c-newsletter c-form" id="mc_embed_signup">
  <form action="https://gildedernacht.us9.list-manage.com/subscribe/post?u=ac8c826d7db864c54a3c2f001&amp;id=c6bec31754"
    method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
    <p class="c-form--item c-form-field--text">
      <label>
        First name *
        <input type="text" name="FNAME" placeholder="First name" required="required">
      </label>
    </p>
    <p class="c-form--item c-form-field--text">
      <label>
        Family name *
        <input type="text" name="LNAME" placeholder="Family name" required="required">
      </label>
    </p>
    <p class="c-form--item c-form-field--text">
      <label>
        Email address *
        <input type="email" name="EMAIL" placeholder="Email address" required="required">
      </label>
    </p>
    <h4>Interests</h4>
    <div class="c-form--options">
      <p class="c-form--item c-form-field--checkbox">
        <input type="checkbox" value="1" name="group[24133][1]" id="mce-group[24133]-24133-0"><label
          for="mce-group[24133]-24133-0">Luzerner Spieltage</label>
      </p>
      <p class="c-form--item c-form-field--checkbox">
        <input type="checkbox" value="2" name="group[24133][2]" id="mce-group[24133]-24133-1"><label
          for="mce-group[24133]-24133-1">Tabletop games</label>
      </p>
      <p class="c-form--item c-form-field--checkbox">
        <input type="checkbox" value="4" name="group[24133][4]" id="mce-group[24133]-24133-2" checked><label
          for="mce-group[24133]-24133-2">Luzerner Rollenspieltage</label>
      </p>
      <p class="c-form--item c-form-field--checkbox">
        <input type="checkbox" value="8" name="group[24133][8]" id="mce-group[24133]-24133-3"><label
          for="mce-group[24133]-24133-3">Role-playing games</label>
      </p>
      <p class="c-form--item c-form-field--checkbox">
        <input type="checkbox" value="16" name="group[24133][16]" id="mce-group[24133]-24133-4"><label
          for="mce-group[24133]-24133-4">Luzerner Tabletoptag</label>
      </p>
      <p class="c-form--item c-form-field--checkbox">
        <input type="checkbox" value="32" name="group[24133][32]" id="mce-group[24133]-24133-5"><label
          for="mce-group[24133]-24133-5">Tabletop games</label>
      </p>
    </div>
    <p><small><em>Please choose at least one topic.</em></small></p>
    <p class="c-form--item">
      <input class="c-btn" type="submit" value="Subscribe" id="mc-embedded-subscribe">
    </p>
    <div id="mce-responses">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
        name="b_ac8c826d7db864c54a3c2f001_c6bec31754" tabindex="-1" value=""></div>
  </form>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
</div>