.c-caerus {
    .c-caerus-name {
        color: var(--contrast-brand-color);
    }

    .c-caerus-friend-list {
        color: var(--primary-brand-color);
    }

    $main-color: #d70b31;
    $main-color-light: lighten(#d70b31, 50%);
    $main-color-lighter: lighten(#d70b31, 80%);

    .c-caerus-list {
        background-color: var(--light-grey-color);
        padding: 0.25rem;
        display: grid;
        grid-template-columns: max-content 5fr;
        grid-auto-rows: 3em;
        gap: 0.25rem 0;
    }

    .c-caerus-entry {
        display: contents;
        > span {
            &:first-child {
                font-family: var(--primary-font-family);
                font-weight: bold;
                font-size: 0.8em;
                text-align: right;
                position: relative;
                em {
                    font-weight: normal;
                }
            }

            &:last-child {
                padding-left: 1rem;
                font-weight: bold;
            }
            > span {
                padding-left: 1rem;
                font-size: 0.8em;
                font-weight: normal;
                font-family: var(--primary-font-family);
            }
        }
    }

    .c-caerus-program-entry > :last-child {
        color: var(--contrast-brand-color);
        > span {
            color: var(--dark-grey-color);
        }
    }

    $durations: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
    @each $duration in $durations {
        .c-caerus-duration-#{$duration} > span {
            grid-row: span #{$duration};
            background-color: white;
            padding: 0.25rem;
        }
    }

    $gray: black;
    $gray-light: lighten($gray, 98%);
    $gray-lighter: lighten($gray, 100%);

    .c-caerus-free > span {
        background-image: repeating-linear-gradient(
            0deg,
            $gray-light,
            $gray-light 5px,
            $gray-lighter 5px,
            $gray-lighter 10px
        );

        &:last-child {
            font-style: italic;
            font-weight: normal;
        }
    }

    .c-caerus-eat > span {
        background-image: repeating-linear-gradient(
            0deg,
            $main-color-light,
            $main-color-light 5px,
            $main-color-lighter 5px,
            $main-color-lighter 10px
        );

        &:last-child {
            font-style: italic;
            font-weight: normal;
        }
    }
}
