.g-calendar {
    padding: 0;

    li {
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }

    li + li {
        margin-top: 5rem;
    }

    img {
        width: 5rem;
        height: 5rem;
    }

    .title, .date {
        margin: 0;
    }
}
