<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luzerner Spieltage 2024</title>
</head>
<body>
    
    <h1>Layout Start</h1>
    <slot/>
    <h1>Layout End</h1>
</body>
</html>
