@use "fonts" as f;
@use "colors" as c;

// Typography

:root {
  --step--2: clamp(0.72rem, 0.8145rem + -0.122vw, 0.7901rem);
  --step--1: clamp(0.8889rem, 0.885rem + 0.0193vw, 0.9rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.125rem, 1.0272rem + 0.4891vw, 1.4063rem);
  --step-2: clamp(1.2656rem, 1.0944rem + 0.856vw, 1.7578rem);
  --step-3: clamp(1.4238rem, 1.1548rem + 1.3451vw, 2.1973rem);
  --step-4: clamp(1.6018rem, 1.2036rem + 1.9909vw, 2.7466rem);
  font-size: var(--step-0);

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
}

body {
  @include f.font-family;
  @include f.font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include f.font-family("display");
  text-transform: uppercase;
}

strong {
  @include f.font-weight(700);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol:not([role="list"]),
ul:not([role="list"]),
blockquote {
  max-inline-size: 60ch;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

p,
li {
  font-size: var(--step-0);
}

// Colors

body {
  background-color: c.get("background-solid");
  color: c.get("text-high-contrast");
}

.main-wrapper {
  background-color: c.get("background-subtle");
  background-position: 50% 0;
  z-index: 5;
}

body.gdn .main-wrapper {
  background-image: url("/common/images/background-gdn.svg");
}

body.lst .main-wrapper {
  background-image: url("/common/images/background-lst.svg");
}

body.rst .main-wrapper {
  background-image: url("/common/images/background-rst.svg");
}

.main-wrapper {
  min-block-size: 90vh;
  padding-block-end: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

::selection {
  background-color: c.get("accent");
  color: white;
}

// Layout

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}