@mixin border-radius {
    border-radius: $border-radius;
}

@mixin box-shadow {
    box-shadow: 0 2.8px 2.2px
            hsla(
                var(--shadow-hue),
                var(--shadow-saturation),
                var(--shadow-lightness),
                calc(var(--shadow-strength) + 0.03)
            ),
        0 6.7px 5.3px
            hsla(
                var(--shadow-hue),
                var(--shadow-saturation),
                var(--shadow-lightness),
                calc(var(--shadow-strength) + 0.01)
            ),
        0 12.5px 10px
            hsla(
                var(--shadow-hue),
                var(--shadow-saturation),
                var(--shadow-lightness),
                calc(var(--shadow-strength) + 0.02)
            ),
        0 22.3px 17.9px
            hsla(
                var(--shadow-hue),
                var(--shadow-saturation),
                var(--shadow-lightness),
                calc(var(--shadow-strength) + 0.02)
            ),
        0 41.8px 33.4px
            hsla(
                var(--shadow-hue),
                var(--shadow-saturation),
                var(--shadow-lightness),
                calc(var(--shadow-strength) + 0.03)
            ),
        0 100px 80px hsla(var(--shadow-hue), var(--shadow-saturation), var(--shadow-lightness), var(--shadow-strength));
}

@mixin glow {
    background: var(--color-one);
    background: linear-gradient(45deg, var(--color-one), var(--color-two));
    box-shadow: 0 0 3rem hsla(0, 0, 0, 0.2);
    position: relative;
    isolation: isolate;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: inherit;
    }

    &::before {
        opacity: 1;
        filter: blur(0.5em);
    }

    &::after {
        opacity: 0.5;
        filter: blur(1em);
    }
}
