// light values

:root {
    --color-light-brand: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    --color-light-accent: hsl(
        calc(var(--brand-hue) + var(--accent-adjust-hue)) var(--brand-saturation)
            calc(var(--brand-lightness) * var(--accent-adjust-lightness))
    );

    --color-light-text-primary: hsl(var(--brand-hue) var(--brand-saturation) 10%);
    --color-light-text-secondary: hsl(var(--brand-hue) 30% 30%);

    --color-light-surface-primary: hsl(var(--brand-hue) 25% 90%);
    --color-light-surface-secondary: hsl(var(--brand-hue) 20% 80%);
    --color-light-surface-emphasis: hsl(var(--brand-hue) 10% 99%);

    --shadow-light-hue: var(--brand-hue);
    --shadow-light-saturation: 10%;
    --shadow-light-lightness: calc(var(--brand-lightness) / 5);
    --shadow-light-strength: 0.02;
}

// dark values

:root {
    --color-dark-brand: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) * 1.25));
    --color-dark-accent: hsl(
        calc(var(--brand-hue) + var(--accent-adjust-hue)) var(--brand-saturation)
            calc(var(--brand-lightness) * var(--accent-adjust-lightness) * 2.1)
    );

    --color-dark-text-primary: hsl(var(--brand-hue) 15% 85%);
    --color-dark-text-secondary: hsl(var(--brand-hue) 5% 65%);

    --color-dark-surface-primary: hsl(var(--brand-hue) 10% 15%);
    --color-dark-surface-secondary: hsl(var(--brand-hue) 5% 25%);
    --color-dark-surface-emphasis: hsl(var(--brand-hue) 10% 5%);

    --shadow-dark-hue: var(--brand-hue);
    --shadow-dark-saturation: 50%;
    --shadow-dark-lightness: 3%;
    --shadow-dark-strength: 0.8;
}

:root {
    color-scheme: light;
    --color-brand: var(--color-light-brand);
    --color-accent: var(--color-light-accent);
    --color-text-primary: var(--color-light-text-primary);
    --color-text-secondary: var(--color-light-text-secondary);
    --color-surface-primary: var(--color-light-surface-primary);
    --color-surface-secondary: var(--color-light-surface-secondary);
    --color-surface-emphasis: var(--color-light-surface-emphasis);
    --shadow-hue: var(--shadow-light-hue);
    --shadow-saturation: var(--shadow-light-saturation);
    --shadow-lightness: var(--shadow-light-lightness);
    --shadow-strength: var(--shadow-light-strength);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-brand: var(--color-dark-brand);
        --color-accent: var(--color-dark-accent);
        --color-text-primary: var(--color-dark-text-primary);
        --color-text-secondary: var(--color-dark-text-secondary);
        --color-surface-primary: var(--color-dark-surface-primary);
        --color-surface-secondary: var(--color-dark-surface-secondary);
        --color-surface-emphasis: var(--color-dark-surface-emphasis);
        --shadow-hue: var(--shadow-dark-hue);
        --shadow-saturation: var(--shadow-dark-saturation);
        --shadow-lightness: var(--shadow-dark-lightness);
        --shadow-strength: var(--shadow-dark-strength);
    }
}

[color-scheme="light"] {
    color-scheme: light;
    --color-brand: var(--color-light-brand);
    --color-accent: var(--color-light-accent);
    --color-text-primary: var(--color-light-text-primary);
    --color-text-secondary: var(--color-light-text-secondary);
    --color-surface-primary: var(--color-light-surface-primary);
    --color-surface-secondary: var(--color-light-surface-secondary);
    --color-surface-emphasis: var(--color-light-surface-emphasis);
    --shadow-hue: var(--shadow-light-hue);
    --shadow-saturation: var(--shadow-light-saturation);
    --shadow-lightness: var(--shadow-light-lightness);
    --shadow-strength: var(--shadow-light-strength);
}

[color-scheme="dark"] {
    color-scheme: dark;
    --color-brand: var(--color-dark-brand);
    --color-accent: var(--color-dark-accent);
    --color-text-primary: var(--color-dark-text-primary);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-surface-primary: var(--color-dark-surface-primary);
    --color-surface-secondary: var(--color-dark-surface-secondary);
    --color-surface-emphasis: var(--color-dark-surface-emphasis);
    --shadow-hue: var(--shadow-dark-hue);
    --shadow-saturation: var(--shadow-dark-saturation);
    --shadow-lightness: var(--shadow-dark-lightness);
    --shadow-strength: var(--shadow-dark-strength);
}
// success / Warning / error/ info

// Color combinations

.color-brand {
    background-color: var(--color-brand);
    color: var(--color-light-surface-secondary);
}

.color-accent {
    background-color: var(--color-accent);
    color: var(--color-surface-primary);
}

.color-surface-primary {
    background-color: var(--color-surface-primary);
    color: var(--color-text-primary);
}

.color-surface-secondary {
    background-color: var(--color-surface-secondary);
    color: var(--color-text-primary);
}

.color-surface-emphasis {
    background-color: var(--color-surface-emphasis);
    color: var(--color-text-primary);
}

// Gradient combinations

.color-gradient-one {
    @include glow;
    --color-one: var(--color-brand);
    --color-two: var(--color-accent);
    color: var(--color-light-surface-primary);
}

.color-gradient-two {
    @include glow;
    --color-one: var(--color-brand);
    --color-two: var(--color-surface-emphasis);
    color: var(--color-text-primary);
}

.color-gradient-three {
    @include glow;
    --color-one: var(--color-accent);
    --color-two: var(--color-surface-emphasis);
    color: var(--color-text-primary);
}

// Shadows

.dark-shadow {
    @include box-shadow;
}
