$border-radius: 0.3rem;

$font-size-min: 1rem;

$font-family-base: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-variable: "Recursive";

// values that can change per brand
:root {
    --brand-hue: 210;
    --brand-saturation: 100%;
    --brand-lightness: 20%;

    --accent-adjust-hue: 135;
    --accent-adjust-lightness: 1.5;
}
