@use "../../../common/styles/globals/colors" as c with ($color1: hsl(280 65% 99.4%),
  $color2: hsl(276 100% 99%),
  $color3: hsl(276 83.1% 97%),
  $color4: hsl(275 76.4% 94.7%),
  $color5: hsl(275 70.8% 91.8%),
  $color6: hsl(274 65.4% 87.8%),
  $color7: hsl(273 61% 81.7%),
  $color8: hsl(272 60% 73.5%),
  $color9: hsl(272 51% 54%),
  $color10: hsl(272 46.8% 50.3%),
  $color11: hsl(272 50% 45.8%),
  $color12: hsl(272 66% 16%),
  $colorDark1: hsl(284 20% 9.6%),
  $colorDark2: hsl(283 30% 11.8%),
  $colorDark3: hsl(281 37.5% 16.5%),
  $colorDark4: hsl(280 41.2% 20%),
  $colorDark5: hsl(279 43.8% 23.3%),
  $colorDark6: hsl(277 46.4% 27.5%),
  $colorDark7: hsl(275 49.3% 34.6%),
  $colorDark8: hsl(272 52.1% 45.9%),
  $colorDark9: hsl(272 51% 54%),
  $colorDark10: hsl(273 57.3% 59.1%),
  $colorDark11: hsl(275 80% 71%),
  $colorDark12: hsl(279 75% 95.7%),
  $colorAccent1: hsl(358 69.4% 55.2%),
  $colorAccent2: hsl(354 50% 14.6%),
  $colorAccentDark1: hsl(358 100% 69.5%),
  $colorAccentDark2: hsl(359 69.5% 74.3%));

.boxLink {
  [class^=box] {
    cursor: pointer;

    &:hover,
    &:active {
      background-color: c.get("background-subtle");
      color: c.get("accent-hover");
      border-color: c.get("text-high-contrast");
    }
  }

  .grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.5rem;
    align-items: center;
    padding: 0.5rem;
  }

  p {
    max-inline-size: unset;
  }

  svg {
    font-size: var(--step-3);
  }
}

.quickmenu {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  &:not(.extended) {
    margin-block-end: 1.5lh;
    position: relative;
    z-index: 1;

    button {
      aspect-ratio: 1/1;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page:has(.quickmenu) {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;

    .extended-wrapper {
      margin-block-start: 1rem;
      grid-column-start: 2;
    }

    .quickmenu:not(.extended) {
      flex-direction: column;
      position: sticky;
      top: 1rem;
      margin-block-end: 0;

      .tooltip {
        top: 0;
        left: 2lh;
      }
    }
  }
}

.timeview-entry {
  background: hotpink;

  h5 {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.page-content {
  min-block-size: 50vh;
}

.timetable {
  $box-border: 0.125rem;

  display: grid;
  grid-auto-rows: 5rem;
  grid-template-columns: max-content 1fr;
  gap: 0 1rem;

  .hour {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
    grid-column: 1 / 3;


    .background {
      border: #{$box-border} solid var(--clr-7);
      background-color: hsl(from var(--clr-3) h s l / 0.7);
    }

    &:not(:nth-child(2)) {
      .background {
        border-block-start: none;
      }
    }

    &:not(:nth-last-child(2)) {
      .background {
        border-block-end: calc(#{$box-border} / 2) dotted var(--clr-7);
      }
    }

    &:nth-last-child(2) {
      .background {
        border-bottom-width: 0.25rem;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
    }

    &.break {
      .background {
        $color1: hsl(from var(--clr-7) h s l / 0.25);
        $color2: hsl(from var(--clr-1) h s l / 0.5);
        background-color: #{$color1};
        background: repeating-linear-gradient(-45deg, #{$color1}, #{$color1} 5px, #{$color2} 5px, #{$color2} 25px);
      }
    }
  }

  .annotation {
    font-family: monospace;
    font-size: smaller;
    padding-inline-start: 0.25rem;
    position: relative;
    top: -0.75em;
  }

  .entries {
    display: grid;
    grid-template-rows: subgrid;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    z-index: 1;

    .entry {
      padding: 0.5rem;
      grid-column: 1 / 2;

      >* {
        height: 100%;
      }
    }
  }
}