
body {
  xmargin: 0px;
  background-color: #eee;
  font-size: 1.2em;
  margin: 2em auto;
  width: 50em;
}

header, footer {
  background-color: #ccc;
  margin: 2em 0em;
}

footer img {
  height: 40px;
}

main {
}

input[type=email], input[type=text] {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style-type: square;
}
