.c-apollon {
  .disabled {
    color: var(--light-grey-color);

    .c-apollon-radio-group,
    .c-apollon-options {
      color: var(--dark-grey-color);
    }

    label,
    input,
    button {
      cursor: not-allowed;
    }
  }

  &-steps {
    background-color: hsl(0, 0%, 90%);
    list-style-type: none;
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: 3px solid transparent;
      cursor: pointer;
      padding: 1rem;
      font-weight: bold;

      small {
        font-weight: normal;
      }
    }

    button {
      background: var(--light-grey-color);
    }

    .disabled button {
      color: var(--light-grey-color);
      cursor: not-allowed;
    }

    .active button {
      color: var(--contrast-brand-color);
      background: white !important;
      border-color: var(--contrast-brand-color) !important;
    }

    li:not(.disabled):not(.active) button:hover {
      border-color: var(--dark-grey-color);
    }
  }

  &-error-message {
    border: 3px solid var(--contrast-brand-color);
    color: var(--contrast-brand-color);
    padding: 1rem;
  }

  &-footer {
    background-color: hsl(0, 0%, 90%);
    list-style-type: none;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    li {
      font-family: var(--primary-font-family);

      &:first-child {
        justify-self: start;
      }

      &:last-child {
        justify-self: end;
      }
    }

    button {
      background: none;
      border: 3px solid transparent;
      cursor: pointer;
      padding: 1rem;
      font-weight: bold;
    }
  }

  &-options {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    label {
      background: var(--light-grey-color);
      border: 3px solid transparent;
      cursor: pointer;
      padding: 0 1rem;

      &:hover {
        border-color: var(--dark-grey-color);
      }

      &.active {
        border-color: var(--contrast-brand-color);
        color: var(--contrast-brand-color);
        background: none;
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    p {
      margin: 0;
    }
  }

  &-radio-group {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    label {
      background: var(--light-grey-color);
      border: 3px solid transparent;
      cursor: pointer;
      padding: 0 1rem;

      &:hover {
        border-color: var(--dark-grey-color);
      }

      &.active {
        border-color: var(--contrast-brand-color);
        color: var(--contrast-brand-color);
        background: none;
      }
    }

    input[type="radio"] {
      display: none;
    }

    p {
      margin: 0;
    }
  }

  &-grid {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: #e6e6e6;
    padding: 1rem;

    .c-apollon-grid-header {
      display: contents;
      text-align: center;

      > :first-child {
        grid-column-start: 2;
      }
    }

    &.three {
      grid-template-columns: 2fr repeat(2, 1fr);
    }

    &.four {
      grid-template-columns: repeat(4, 1fr);
    }

    h4,
    p {
      margin: 0;
    }

    .delete {
      margin-left: 1rem;
    }

    .c-apollon-radio-group {
      display: contents;
      text-align: center;
    }
  }

  &-checkmark-group {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    input {
      margin-right: 10px;
    }
  }

  &-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-timetable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    > div {
      flex-grow: 1;
      flex-basis: 25ch;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    p {
      margin: 0;
    }

    input[type="checkbox"] {
      display: none;
    }

    li:first-child label {
      border-radius: 0.5em 0.5em 0 0;
    }

    li:last-child label {
      border-radius: 0 0 0.5em 0.5em;
    }

    li + li label {
      margin-top: 0.1rem;
    }

    label {
      background: var(--light-grey-color);
      border: 3px solid transparent;
      cursor: pointer;
      padding: 0 1rem;
      height: 5em;

      &:hover {
        border-color: var(--dark-grey-color);
      }

      &.active {
        border-color: var(--contrast-brand-color);
        color: var(--contrast-brand-color);
        background: none;
      }
    }
  }

  &-input-and-button {
    display: grid !important;
    grid-template-columns: 1fr auto;

    > :first-child {
      grid-column: span 2;
    }
  }

  &-round-entry {
    border: 3px solid var(--light-grey-color);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;

    &.new-entry {
      border-color: transparent;
      cursor: pointer;
      background-color: var(--contrast-brand-color);
      color: var(--background-color);

      &:hover,
      &:focus {
        background-color: var(--primary-brand-color);
        border-color: var(--primary-brand-color);
      }
    }
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  label {
    display: block;
    font-weight: bold;
    font-family: var(--primary-font-family);
  }

  input[type="text"],
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  textarea {
    min-height: 150px;
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  [disabled] {
    cursor: not-allowed;
    background-color: var(--dark-grey-color);
    border-color: transparent;
  }
}
