.c-newsletter,
.c-form {
  p {
    margin: 0;
  }

  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  textarea {
    min-height: 150px;
  }

  label {
    font-family: var(--primary-font-family);
    font-size: 0.8em;
  }

  .c-form-field--text {
    label {
      font-weight: bold;
    }
  }

  .c-form--options {
    display: flex;
    flex-wrap: wrap;

    .c-form-field--checkbox {

      input {
        display: none;
      }

      label {
        border: 3px solid var(--light-grey-color);
        padding: 0 10px;
        margin-right: 10px;
        display: block;
        margin-bottom: 10px;
        background-color: var(--light-grey-color);
      }

      label:hover,
      label:active {
        border-color: var(--dark-grey-color);
        cursor: pointer;
      }

      input:checked+label {
        background-color: var(--background-color);
        border-color: var(--contrast-brand-color);
        color: var(--contrast-brand-color);
      }
    }
  }

  .c-btn {
    font-family: var(--primary-font-family);
    font-weight: bold;
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px 0;
    text-transform: uppercase;
    background-color: var(--contrast-brand-color);
    color: var(--background-color);
    border: 3px solid var(--contrast-brand-color);

    &:hover, &:active {
      background-color: var(--primary-brand-color);
      border-color: var(--primary-brand-color);
      cursor: pointer;
    }
  }
}