.c-jumbotron {
  width: 100%;

  figure {
    margin: 15px 0 0;

    figcaption {
      text-align: right;

      opacity: 0;
      position: relative;
      top: 0.5em;
      transition: all 0.5s;
    }

    &:hover figcaption {
      top: 0;
      opacity: 1;
    }
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 40%;
  }

  p {
    font-style: italic;
    font-size: 0.5em;
  }

  figure + h1 {
    top: -3em;
    margin-bottom: -3em;
  }

  h1 {
    background-color: var(--background-color);
    padding: 5px var(--margin-left-right);
    padding-bottom: .5em;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 10px;
      background: var(--primary-brand-color);
      background: linear-gradient(to right, var(--primary-brand-color) 0%, var(--dark-grey-color) 75%, var(--contrast-brand-color) 100%);
    }
  }
}

@media screen and (min-width: 1000px) {
  .c-jumbotron {
    h1 {
      left: calc(var(--difference-sm-md)/2);
      width: calc( 100% - var(--difference-sm-md)/2);
    }
  }
}