.c-minitron {
  width: 100%;

  figure {
    margin: 15px 0 0;

    figcaption {
      text-align: right;

      opacity: 0;
      position: relative;
      top: 0.5em;
      transition: all 0.5s;
    }

    &:hover figcaption {
      top: 0;
      opacity: 1;
    }
  }

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 40%;
  }

  +h2 {
    position: relative;
    top: -60px;
    margin-bottom: -50px;
    background-color: var(--background-color);
    padding: 5px 10px 10px;
  }
}