// TODO needs to be renamed to apollon

.c-round {
    border: 10px solid transparent;
    border-top: none;
    padding: 10px;
    border-image: linear-gradient(to bottom,var(--primary-brand-color) 0%,var(--dark-grey-color) 75%,var(--contrast-brand-color) 100%);
    border-image-slice: 1;
}

.c-round-date {
    margin: 0;
    font-style: italic;
}

.c-rounds {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 25px;

    label {
        background-color: var(--light-grey-color);
        padding: 10px;
        cursor: pointer;
        border: 5px solid var(--light-grey-color);

        &:hover .c-btn,
        &:active .c-btn {
            background-color: var(--primary-brand-color);
            border-color: var(--primary-brand-color);
        }
    }

    label.round-full {
        background-color: var(--dark-grey-color);
        cursor: not-allowed;
        border: 5px solid var(--dark-grey-color);

        .c-btn {
            color: var(--dark-grey-color);
            background-color: var(--light-grey-color);
            border-color: var(--light-grey-color);
        }
    }

    label.round-active, div.c-container {

        .c-btn {
            background-color: var(--primary-brand-color);
            border-color: var(--primary-brand-color);
        }
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    p {
        font-size: 1em;
        margin-bottom: 0;
        // font-weight: bold;

        span {
            font-weight: normal;
        }
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=button] {
        pointer-events: none;
    }

}

#apollon-summary td {
    vertical-align: top;
}

.hint {
    background-color: var(--contrast-brand-color);
    color: var(--background-color);
    font-family: var(--primary-font-family);
    padding-left: 10px;
    padding-right: 10px;

    span {
        font-size: 0.9em;
    }
}

.success {
    border: 5px solid var(--primary-brand-color);
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .c-rounds {
        grid-template-columns: 100%;
    }
}
