<div class="site-logo">
    <a href="/">
        {% if global.siteCode == "lst" %}
            {% include "./lst.njk" %}
        {% elif global.siteCode == "rst" %}
            {% include "./rst.njk" %}
        {% else %}
            {% include "./gdn.njk" %}
        {% endif %}
    </a>
</div>
