body {
  font-family: var(--primary-font-family);
  background-color: var(--background-color);
}

.o-outer-container {
  margin: 0 auto;
  max-width: var(--breakpoint-md);
}

.o-inner-container {
  margin: 0 auto;
  max-width: var(--breakpoint-sm);
  padding: 0 15px;
}

@media screen and (max-width: 1000px) {
  .o-inner-container {
    max-width: var(--breakpoint-md);
  }
}