html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font-family);
  background-color: var(--background-color);

  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

.o-outer-container {
  margin: 0 auto;
  max-width: var(--breakpoint-md);
}

.o-inner-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--breakpoint-md);
  padding: 0 15px;
}