{{ define "main" }}
{{ if .Draft }}
<section class="c-message c-message--spam visible" data-type="spam">
  Diese Seite ist ein Entwurf und wird nicht auf der Live-Seite angezeigt.
</section>
{{ end }}
{{ if .Params.toc }}
<div class="u-toc">
  {{ .TableOfContents }}
</div>
{{ end }}
{{ if .Params.toc2.enable }}
<div class="u-toc u-toc-start-level-{{ default "1" .Params.toc2.startLevel }} u-toc-end-level-{{ default "6"
  .Params.toc2.endLevel }} u-toc-style-{{ default "simple" .Params.toc2.style }}">
  {{ .TableOfContents }}
</div>
{{ end }}
{{ .Content }}
{{ end }}
