{{ define "main" }}
{{ if .Draft }}
<section class="c-message c-message--spam visible" data-type="spam">
  Diese Seite ist ein Entwurf und wird nicht auf der Live-Seite angezeigt.
</section>
{{ end }}
{{ if gt .Date now }}
<section class="c-message c-message--spam visible" data-type="spam">
  Diese Seite wird erst nach dem {{ .Date | time.Format ":date_full" }} veröffentlicht.
</section>
{{ end }}
{{ if .Params.toc.enable }}
<div class="u-toc u-toc-start-level-{{ default "1" .Params.toc.startLevel }} u-toc-end-level-{{ default "6"
  .Params.toc.endLevel }} u-toc-style-{{ default "simple" .Params.toc.style }}">
  {{ .TableOfContents }}
</div>
{{ end }}
{{ .Content }}
{{ end }}
