@use "../globals/colors" as c;

.button {
  background-color: c.get("background-solid");
  border: 1px solid c.get("border-element");
  color: white;
  border-radius: 0.25rem;
  padding: 0.5em 1em;
  cursor: pointer;
  touch-action: manipulation;

  &:hover,
  &:active {
    background-color: c.get("background-solid-hover");
    border-color: c.get("border-element-hover");
  }

  &:focus,
  &:focus-visible {
    border-color: c.get("text-high-contrast");
    outline: none;
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
  }
}
