@use "../globals/patterns" as p;
@use "../globals/colors" as c;

.event-list {
  max-inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2.5rem;
}

.event-entry {
  --event-color: #{c.get("text-low-contrast")};
  --event-background-color: #{c.get("background-element")};
  --event-border-color: #{c.get("border-element")};
  --event-border-color-hover: #{c.get("border-element-hover")};
  background-color: var(--event-background-color);
  border: 0.125rem solid var(--event-border-color);
  border-bottom-width: 0.25rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 1.25em 1.5em 0;
  font-size: 0.6rem;
  max-inline-size: 100%;
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;

  &.gray {
    --event-color: #{c.getGray("text-low-contrast")};
    --event-background-color: #{c.getGray("background-element")};
    --event-border-color: #{c.getGray("border-element")};
    --event-border-color-hover: #{c.getGray("border-element-hover")};
  }

  &.danger {
    --event-color: #{c.getDanger("text-low-contrast")};
    --event-background-color: #{c.getDanger("background-element")};
    --event-border-color: #{c.getDanger("border-element")};
    --event-border-color-hover: #{c.getDanger("border-element-hover")};
  }

  &.success {
    --event-color: #{c.getSuccess("text-low-contrast")};
    --event-background-color: #{c.getSuccess("background-element")};
    --event-border-color: #{c.getSuccess("border-element")};
    --event-border-color-hover: #{c.getSuccess("border-element-hover")};
  }

  &.special {
    --event-color: #{c.getSpecial("text-low-contrast")};
    --event-background-color: #{c.getSpecial("background-element")};
    --event-border-color: #{c.getSpecial("border-element")};
    --event-border-color-hover: #{c.getSpecial("border-element-hover")};
  }
}

.event-title {
  overflow-x: hidden;
  text-transform: unset;
}

.event-details {
  display: grid;
  gap: 0.125rem;

  svg {
    color: var(--event-color);
  }
}

.event-details,
.event-tag,
.event-link {
  font-size: 0.83rem;
}

.event-date,
.event-location,
.event-tags {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: max-content 1fr;
  align-items: start;
}

.event-tags ul {
  display: flex;
  gap: 0 0.25rem;
  flex-wrap: wrap;
}

.event-tags li {
  display: contents;
}

.event-links {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  justify-content: end;
  max-inline-size: 100%;
}

.event-link {
  display: block;
  padding: 0.25rem 0.5rem;
  border: 0.0625rem solid var(--event-border-color);
  border-bottom-width: 0;
  border-top-width: 0.25rem;
  color: c.get("accent");

  &:hover,
  &:active {
    color: c.get("accent-hover");
    border-color: var(--event-border-color-hover);
  }

  &:focus {
    color: c.get("accent-hover");
    outline: 0.25rem solid c.get("accent-hover");
    outline-offset: 0.125rem;
  }
}

.event-icon {
  inline-size: 1em;
  margin-inline-end: 0.125rem;
}

.event-description {
  padding-block: 1rem 1.25rem;
  color: var(--event-color);
}

.event-background-icon {
  color: var(--event-color);
  font-size: 16em;
  position: absolute;
  top: -3.5rem;
  right: -1.5rem;
  opacity: 0.5;
  pointer-events: none;
}
