@use "../globals/fonts" as f;
@use "../globals/colors" as c;
@use "../globals/patterns" as p;

form {
  > :not(:last-child) {
    margin-bottom: 1em;
  }

  > p {
    max-width: 100%;
  }
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  @include f.font-weight(700);

  > input,
  > textarea {
    @include f.font-weight();
    margin-top: 0.5rem;
  }
}

input,
textarea {
  @include p.input;

  &::placeholder {
    font-style: italic;
  }
}

textarea {
  min-height: 10em;
  max-height: 40em;
  resize: vertical;
}

button {
  padding: 0.25rem 0.5rem;
  @include p.button;
  @include f.font-weight(700);
}

.button {
  @include p.button;
  padding: 0.5rem 1rem;
}

.button-accent {
  border-color: c.get("accent");
  color: c.get("accent");

  &:hover,
  &:active {
    color: c.get("accent-hover");
    border-color: c.get("accent-hover");
  }
}
