@use "../globals/colors" as c;
@use "../globals/variables" as var;
@use "../globals/fonts" as f;

.header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: stretch;
  background-color: c.get("background-solid");
  height: var.$header-height;
  border-bottom: 0.25rem solid c.get("border-subtle");
  position: sticky;
  top: 0;
  overflow: hidden;

  ::selection {
    background-color: c.get("background");
  }
}

.site-name {
  margin-bottom: 0.25rem;
  text-align: right;
  padding: 0.75rem;
  display: grid;
  align-content: center;
  justify-self: end;

  a {
    text-decoration: none;
    color: white;
  }

  h1 {
    font-size: 0.9rem;
    line-height: 1.1;
  }
  h2 {
    @include f.font-family("body");
    @include f.font-weight(normal);
    text-transform: none;
    font-size: 0.8rem;
  }
}

.site-logo {
  border-left: 0.25rem solid c.get("border-subtle");
  border-bottom: 0.25rem solid c.get("border-subtle");
  border-bottom-left-radius: 1rem;
  background-color: c.get("background-subtle");
  display: grid;
  place-content: center;
  width: var.$header-height;
  aspect-ratio: 1;

  svg {
    width: calc(#{var.$header-height} - 1rem);
    height: calc(#{var.$header-height} - 1rem);
  }
}
