@use "../globals/colors" as c;

.header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: stretch;
  background-color: c.get("background-solid");
  border-bottom: 0.25rem solid c.get("border-subtle");
}

.site-name {
  font-size: 0.9rem;
  line-height: 1.1;
  border-left: 0.25rem solid c.get("border-subtle");
  padding: 0.75rem;
  display: grid;
  align-content: center;

  a {
    text-decoration: none;
    color: white;
  }
}

.site-logo {
  padding: 0.5rem 0.5rem 0.25rem;
  background-color: c.get("background-subtle");
  display: grid;
  place-content: center;
  max-width: 4.5rem;

  svg {
    width: 100%;
  }
}
