@use "../utils/hsl" as *;

.gdn-logo {
  $_clr-base: hsl(203 100% 20%);
  $_clr-light: hsl(203 100% 60%);
  $_clr-base-dark-mode: hsl(203 80% 70%);
  $_clr-light-dark-mode: hsl(203 100% 60%);

  &,
  [color-scheme="light"] & {
    --clr-base: #{$_clr-base};
    --clr-light: #{$_clr-light};
  }

  [color-scheme="dark"] & {
    --clr-base: #{$_clr-base-dark-mode};
    --clr-light: #{$_clr-light-dark-mode};
  }

  @media (prefers-color-scheme: dark) {
    --clr-base: #{$_clr-base-dark-mode};
    --clr-light: #{$_clr-light-dark-mode};
  }

  .gdn-fill-1 {
    fill: var(--clr-base);
  }

  .gdn-fill-2 {
    fill: var(--clr-light);
  }
}

.lst-logo {
  $_clr-blue-to-green-start: hsl(210 100% 25%);
  $_clr-blue-to-green-end: hsl(83 70% 50%);
  $_clr-yellow-to-red-start: hsl(44 100% 50%);
  $_clr-yellow-to-red-end: hsl(20 100% 60%);
  $_clr-pink-to-purple-start: hsl(320 75% 40%);
  $_clr-pink-to-purple-end: hsl(270 100% 40%);

  $_clr-blue-to-green-start-dark-mode: hsl(210 100% 75%);
  $_clr-blue-to-green-end-dark-mode: hsl(83 100% 25%);
  $_clr-yellow-to-red-start-dark-mode: hsl(44 100% 50%);
  $_clr-yellow-to-red-end-dark-mode: hsl(355 100% 50%);
  $_clr-pink-to-purple-start-dark-mode: hsl(320 75% 40%);
  $_clr-pink-to-purple-end-dark-mode: hsl(270 100% 50%);

  &,
  [color-scheme="light"] & {
    --clr-blue-to-green-start: #{$_clr-blue-to-green-start};
    --clr-blue-to-green-end: #{$_clr-blue-to-green-end};
    --clr-yellow-to-red-start: #{$_clr-yellow-to-red-start};
    --clr-yellow-to-red-end: #{$_clr-yellow-to-red-end};
    --clr-pink-to-purple-start: #{$_clr-pink-to-purple-start};
    --clr-pink-to-purple-end: #{$_clr-pink-to-purple-end};
  }

  [color-scheme="dark"] & {
    --clr-blue-to-green-start: #{$_clr-blue-to-green-start-dark-mode};
    --clr-blue-to-green-end: #{$_clr-blue-to-green-end-dark-mode};
    --clr-yellow-to-red-start: #{$_clr-yellow-to-red-start-dark-mode};
    --clr-yellow-to-red-end: #{$_clr-yellow-to-red-end-dark-mode};
    --clr-pink-to-purple-start: #{$_clr-pink-to-purple-start-dark-mode};
    --clr-pink-to-purple-end: #{$_clr-pink-to-purple-end-dark-mode};
  }

  @media (prefers-color-scheme: dark) {
    --clr-blue-to-green-start: #{$_clr-blue-to-green-start-dark-mode};
    --clr-blue-to-green-end: #{$_clr-blue-to-green-end-dark-mode};
    --clr-yellow-to-red-start: #{$_clr-yellow-to-red-start-dark-mode};
    --clr-yellow-to-red-end: #{$_clr-yellow-to-red-end-dark-mode};
    --clr-pink-to-purple-start: #{$_clr-pink-to-purple-start-dark-mode};
    --clr-pink-to-purple-end: #{$_clr-pink-to-purple-end-dark-mode};
  }

  .lst-fill-1 {
    fill: var(--clr-pink-to-purple-start);
  }

  .lst-fill-2 {
    fill: var(--clr-blue-to-green-start);
  }

  .lst-fill-3 {
    fill: var(--clr-yellow-to-red-start);
  }
}

.rst-logo {
  $_clr-purple-base: hsl(265 30% 25%);
  $_clr-purple-light: hsl(265 100% 70%);
  $_clr-red-base: hsl(358 50% 30%);
  $_clr-red-light: hsl(358 90% 60%);

  $_clr-purple-base-dark-mode: hsl(265 30% 75%);
  $_clr-purple-light-dark-mode: hsl(265 100% 100%);
  $_clr-red-base-dark-mode: hsl(358 50% 30%);
  $_clr-red-light-dark-mode: hsl(358 90% 60%);

  &,
  [color-scheme="light"] & {
    --clr-purple-base: #{$_clr-purple-base};
    --clr-purple-light: #{$_clr-purple-light};
    --clr-red-base: #{$_clr-red-base};
    --clr-red-light: #{$_clr-red-light};
  }

  [color-scheme="dark"] & {
    --clr-purple-base: #{$_clr-purple-base-dark-mode};
    --clr-purple-light: #{$_clr-purple-light-dark-mode};
    --clr-red-base: #{$_clr-red-base-dark-mode};
    --clr-red-light: #{$_clr-red-light-dark-mode};
  }

  @media (prefers-color-scheme: dark) {
    --clr-purple-base: #{$_clr-purple-base-dark-mode};
    --clr-purple-light: #{$_clr-purple-light-dark-mode};
    --clr-red-base: #{$_clr-red-base-dark-mode};
    --clr-red-light: #{$_clr-red-light-dark-mode};
  }

  .rst-fill-1 {
    fill: var(--clr-purple-base);
  }

  .rst-fill-2 {
    fill: var(--clr-red-base);
  }
}
