@use "../globals/colors" as c;

.slider {
  --gap: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(25rem, 85%);
  gap: var(--gap);
  overflow-x: auto;
  overflow-y: visible;
  overscroll-behavior-inline: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: c.get("accent") c.get("border-subtle");
  scroll-snap-type: inline mandatory;
  background-color: c.get("background-element");
  padding: var(--gap);
  scroll-padding-inline: var(--gap);
  border: 1px solid c.get("border-subtle");

  &::-webkit-scrollbar {
    block-size: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: c.get("border-subtle");
  }

  &::-webkit-scrollbar-thumb {
    background-color: c.get("border-subtle");
    background-image: linear-gradient(
      c.get("border-subtle") 0,
      c.get("border-subtle") 0.25rem,
      c.get("accent") 0.25rem,
      c.get("accent") 0.75rem,
      c.get("border-subtle") 0.75rem
    );
  }

  > * {
    scroll-snap-align: center;
  }

  > p {
    display: none;
  }

  img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }
}
