html {
  font-size: 16px;
  line-height: 1.5;

  @media screen and (min-width: 1000px) {
    font-size: 18px;
  }
}


figcaption {
  font-family: var(--serif-font);
  font-style: italic;
  font-size: .7rem;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.3em 0 0.8em;
  line-height: 1.3em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  // font-weight: normal;
}

h4 {
  font-size: 1.5rem;
  font-family: var(--serif-font);
}

h5 {
  font-size: 1.3rem;
  font-family: var(--serif-font);
  font-weight: normal;
  font-style: italic;
}

h6 {
  font-size: 1.1rem;
  font-family: var(--serif-font);
  font-weight: normal;
  text-transform: uppercase;
}

p,
li,
table {
  font-family: var(--serif-font);
  font-size: 1.3rem;
  line-height: 1.6em;
}

blockquote {
  font-style: italic;
  color: var(--dark-grey-color);
}

pre {
  font-size: 0.9em;
  line-height: 1.3em;
}

ul,
ol {
  padding-left: 20px;
}

.c-jumbotron {
  h1 {
    font-family: var(--serif-font);
    font-size: 2.5rem;
  }
}

button, input, optgroup, select, textarea {
  font-family: var(--primary-font-family);
  font-size: 1rem;
}
