<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000"
    class="lst-logo">
    <defs>
        <style>
            .lst-logo {
                --clr-blue-base: hsl(195 100% 13.0%);
                --clr-blue-light: hsl(80 68.3% 46.9%);
                --clr-yellow-base: hsl(53 92.0% 50.0%);
                --clr-yellow-light: hsl(30 100% 34.0%);
                --clr-pink-base: hsl(322 65.0% 54.5%);
                --clr-pink-light: hsl(272 66.0% 16.0%);
            }

            .lst-fill-1 {
                fill: var(--clr-pink-base);
            }

            .lst-fill-2 {
                fill: var(--clr-blue-base);
            }

            .lst-fill-3 {
                fill: var(--clr-yellow-base);
            }

            .lst-gradient-1 {
                fill: url(#lst-gradient-1);
            }

            .lst-gradient-2 {
                fill: url(#lst-gradient-2);
            }

            .lst-gradient-3 {
                fill: url(#lst-gradient-3);
            }
        </style>
        <linearGradient id="lst-gradient-1" x1="820.05" y1="684.81" x2="820.05" y2="295" gradientUnits="userSpaceOnUse">
            <stop offset="0.2" stop-color="var(--clr-blue-base)" />
            <stop offset="1" stop-color="var(--clr-blue-light)" />
        </linearGradient>
        <linearGradient id="lst-gradient-2" x1="160" y1="224.03" x2="510" y2="224.03" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="var(--clr-yellow-light)" />
            <stop offset="0.8" stop-color="var(--clr-yellow-base)" />
        </linearGradient>
        <linearGradient id="lst-gradient-3" x1="169.89" y1="778.56" x2="520.21" y2="778.56"
            gradientUnits="userSpaceOnUse">
            <stop offset="0.2" stop-color="var(--clr-pink-base)" />
            <stop offset="1" stop-color="var(--clr-pink-light)" />
        </linearGradient>
    </defs>
    <g>
        <path class="lst-fill-1"
            d="M199.89,682.93V315.19h-40V684.81H160c0,.07,0,.13,0,.19a20,20,0,0,0,40,0A20.2,20.2,0,0,0,199.89,682.93Z" />
        <path class="lst-fill-2"
            d="M840,685a20,20,0,0,0-29.83-17.4l-.06-.11L490,852.31,510,887,828.28,703.19A20,20,0,0,0,840,685Z" />
        <path class="lst-fill-3" d="M510,113.05l-.06.11a20,20,0,1,0-18.43,35.4l318.6,184,20-34.64Z" />
        <path class="lst-gradient-1"
            d="M840,315.19c0-.07,0-.13,0-.19a20,20,0,0,0-40,0,20.2,20.2,0,0,0,.11,2.07V684.81h40V315.19Z" />
        <path class="lst-gradient-2" d="M510,147.69l-20-34.64L171.72,296.81a20,20,0,1,0,18.11,35.59l.06.11Z" />
        <path class="lst-gradient-3" d="M508.49,851.44l-318.6-184-20,34.64L490,887l.06-.11a20,20,0,1,0,18.43-35.4Z" />
    </g>
</svg>
