table {
    @extend .u-bleed-out;
    font-size: .95em;

    th,
    td {
        padding: 0.25rem 0.5rem;
    }

    th {
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f4f4f4;
    }
}
