anyio==3.5.0
asgiref==3.5.0
asn1crypto==0.24.0
autopep8==1.6.0
click==8.0.4
cryptography==2.6.1
entrypoints==0.3
fastapi==0.75.0
h11==0.13.0
httptools==0.4.0
idna==3.3
importlib-metadata==4.11.3
keyring==17.1.1
keyrings.alt==3.1.1
pycodestyle==2.8.0
pycrypto==2.6.1
pydantic==1.9.0
PyGObject==3.30.4
python-apt==1.8.4.3
python-dotenv==0.20.0
pyxdg==0.25
PyYAML==6.0
SecretStorage==2.3.1
six==1.12.0
sniffio==1.2.0
starlette==0.17.1
toml==0.10.2
typing-extensions==4.1.1
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.1
websockets==10.2
zipp==3.7.0
