<header>
    {% include "./logos/logo.njk" %}
    <h1 class="site-name">{{global.siteName}}</h1>
    {# {% include "./navigation/navigation.njk" %} #}
    {% include "./mobile/navigation.njk" %}
</header>
