<div class="site-switcher">
    <h1>Unser Netzwerk</h1>
    <div class="switcher">
        <div class="logo">
            <a href="https://{{ 'test.' if development }}gildedernacht.ch/">
                <div class="network-name">
                    <h2>Gilde der Nacht</h2>
                    <h3>Luzerner Spielverein</h3>
                </div>
                {% include "./logos/gdn.njk" %}
            </a>
        </div>
        <div class="logo">
            <a href="https://{{ 'test.' if development }}spieltage.ch/">
                <div class="network-name">
                    <h2>Luzerner Spieltage</h2>
                    <h3>12. + 13. März 2022</h3>
                </div>
                {% include "./logos/lst.njk" %}
            </a>
        </div>
        <div class="logo">
            <a href="https://{{ 'test.' if development }}rollenspieltage.ch/">
                <div class="network-name">
                    <h2>Luzerner Rollenspieltage</h2>
                    <h3>27. + 28. August 2022</h3>
                </div>
                {% include "./logos/rst.njk" %}
            </a>
        </div>
    </div>
</div>
