<button class="button hidden" data-toggle-theme>
    <i class="fa-duotone fa-sun-bright hidden" data-toggle-theme-to-light></i>
    <i class="fa-duotone fa-moon-stars" data-toggle-theme-to-dark></i>
</button>
