.u-toc:not(.u-toc-style-ext) {
  > nav > ul {
    // toc of h1’s
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    > li {
      border: 3px solid var(--light-grey-color);
      padding: 5px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: var(--light-grey-color);
      font-family: var(--primary-font-family);
      font-size: 0.8em;

      &:hover,
      &:active {
        border-color: var(--dark-grey-color);
      }

      a {
        display: block;
        text-decoration: none;
        color: black;
      }

      // hide h2 and deeper
      > ul {
        display: none;
      }
    }
  }
}

.u-toc-invisible-level {
  padding: 0;
  list-style: none;

  > li > a {
    display: none;
  }
}

.u-toc-start-level-2 {
  nav > ul {
    @extend .u-toc-invisible-level;
  }
}

.u-toc-start-level-3 {
  nav > ul {
    @extend .u-toc-invisible-level;
    > li > ul {
      @extend .u-toc-invisible-level;
    }
  }
}

.u-toc-start-level-4 {
  nav > ul {
    @extend .u-toc-invisible-level;
    > li > ul {
      @extend .u-toc-invisible-level;
      > li > ul {
        @extend .u-toc-invisible-level;
      }
    }
  }
}

.u-toc-start-level-5 {
  nav > ul {
    @extend .u-toc-invisible-level;
    > li > ul {
      @extend .u-toc-invisible-level;
      > li > ul {
        @extend .u-toc-invisible-level;
        > li > ul {
          @extend .u-toc-invisible-level;
        }
      }
    }
  }
}

.u-toc-start-level-6 {
  nav > ul {
    @extend .u-toc-invisible-level;
    > li > ul {
      @extend .u-toc-invisible-level;
      > li > ul {
        @extend .u-toc-invisible-level;
        > li > ul {
          @extend .u-toc-invisible-level;
          > li > ul {
            @extend .u-toc-invisible-level;
          }
        }
      }
    }
  }
}

.u-toc-end-level-1 {
  nav > ul > li > ul {
    display: none;
  }
}

.u-toc-end-level-2 {
  nav > ul > li > ul > li > ul {
    display: none;
  }
}

.u-toc-end-level-3 {
  nav > ul > li > ul > li > ul > li > ul {
    display: none;
  }
}

.u-toc-end-level-4 {
  nav > ul > li > ul > li > ul > li > ul > li > ul {
    display: none;
  }
}

.u-toc-end-level-5 {
  nav > ul > li > ul > li > ul > li > ul > li > ul > li > ul {
    display: none;
  }
}
