<aside class="mobile-menu-container">
    <nav>
        <ul role="list">
            <li><a href="#">Startseite</a></li>
            <li><a href="#">Programm</a>
                <ul role="list">
                    <li><a href="#">Brettspiele</a></li>
                    <li><a href="#">Rollenspiele</a></li>
                </ul>
            </li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi earum est, ratione ipsa eligendi nam, corporis accusamus magni veritatis aspernatur necessitatibus. Modi eveniet tempore animi reiciendis cum dolor obcaecati non!
    Ea error est voluptatibus quos sapiente! Mollitia non aspernatur incidunt nobis eveniet distinctio! Quae iste numquam reprehenderit. Unde eius nobis maiores aspernatur, maxime quaerat eveniet dolorem adipisci expedita! Deleniti, amet.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi earum est, ratione ipsa eligendi nam, corporis accusamus magni veritatis aspernatur necessitatibus. Modi eveniet tempore animi reiciendis cum dolor obcaecati non!
    Ea error est voluptatibus quos sapiente! Mollitia non aspernatur incidunt nobis eveniet distinctio! Quae iste numquam reprehenderit. Unde eius nobis maiores aspernatur, maxime quaerat eveniet dolorem adipisci expedita! Deleniti, amet.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi earum est, ratione ipsa eligendi nam, corporis accusamus magni veritatis aspernatur necessitatibus. Modi eveniet tempore animi reiciendis cum dolor obcaecati non!
    Ea error est voluptatibus quos sapiente! Mollitia non aspernatur incidunt nobis eveniet distinctio! Quae iste numquam reprehenderit. Unde eius nobis maiores aspernatur, maxime quaerat eveniet dolorem adipisci expedita! Deleniti, amet.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi earum est, ratione ipsa eligendi nam, corporis accusamus magni veritatis aspernatur necessitatibus. Modi eveniet tempore animi reiciendis cum dolor obcaecati non!
    Ea error est voluptatibus quos sapiente! Mollitia non aspernatur incidunt nobis eveniet distinctio! Quae iste numquam reprehenderit. Unde eius nobis maiores aspernatur, maxime quaerat eveniet dolorem adipisci expedita! Deleniti, amet.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi earum est, ratione ipsa eligendi nam, corporis accusamus magni veritatis aspernatur necessitatibus. Modi eveniet tempore animi reiciendis cum dolor obcaecati non!
    Ea error est voluptatibus quos sapiente! Mollitia non aspernatur incidunt nobis eveniet distinctio! Quae iste numquam reprehenderit. Unde eius nobis maiores aspernatur, maxime quaerat eveniet dolorem adipisci expedita! Deleniti, amet.</p>
</aside>
