<aside class="mobile-menu-container">
    <nav>
        <ul role="list">
            <li><a href="#">Startseite</a></li>
            <li><a href="#">Programm</a>
                <ul role="list">
                    <li><a href="#">Brettspiele</a></li>
                    <li><a href="#">Rollenspiele</a></li>
                </ul>
            </li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</aside>
