<input type="checkbox" id="mobile-navigation" class="hidden"/>
<label for="mobile-navigation" class="toggle-mobile-navigation" data-toggle-mobile-navigation>
    <i class="fa-duotone fa-bars-staggered open-menu-container"></i>
    <i class="fa-solid fa-xmark close-menu-container"></i>
</label>
{% include "./menu-container.njk" %}
