<input type="checkbox" id="mobile-navigation" class="hidden"/>
<label for="mobile-navigation" class="toggle-mobile-navigation">
    <i class="fa-duotone fa-bars"></i>
</label>
{% include "./menu-container.njk" %}
