@use "../globals/colors" as c;
@use "../globals/patterns" as p;

:where(.content) {
  > blockquote,
  > dl,
  > ol,
  > p,
  > pre,
  > table,
  > ul,
  > div {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-bottom: 0.5em;

    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  > blockquote {
    @include p.element;
    padding: 1.25em 1.5em;
    font-style: italic;
  }

  table {
    text-align: left;
    background-color: c.get("background-element");
    border-collapse: collapse;
    border-spacing: 0;

    tbody tr:hover {
      background-color: c.get("background-subtle");
    }

    td,
    th {
      border-style: solid;
      border-color: c.get("border-subtle");
      vertical-align: top;
      padding: 0.5em 0.75em;
    }

    th {
      border-width: 0 0 2px;
    }

    td {
      border-width: 0 0 1px;
    }

    tr:last-child td {
      border-width: 0;
    }
  }

  .table-container {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    overflow-y: hidden;
    max-inline-size: 100%;
  }

  a {
    @include p.link;
    text-decoration: none;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a[href*="//"]:not([href*="gildedernacht.com"]):not([href*="spieltage.com"]):not([href*="rollenspieltage.com"]):not(.button)::after
    {
      content: "â†";
      margin-inline-start: 0.25rem;
    }
  }

  .header-anchor,
  .event-icon,
  .event-tag,
  .event-link {
    border: none;
    border-radius: 0;
    padding: 0;
  }

  > blockquote,
  > dl,
  > ol,
  > p,
  > pre,
  > table,
  > ul,
  > form,
  > nav,
  > .event-filters {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: -0.5rem;
      opacity: 0.75;
      background-color: c.get("background-subtle");
    }
  }

  .header-anchor {
    color: inherit;
  }
}
