@use "../globals/colors" as c;

.footer {
  min-block-size: 1rem;
  background-color: c.get("background-solid");
  color: white;
  border-top: 0.25rem solid c.get("border-subtle");
  margin-block-start: 2.5rem;
}

.small-print {
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5em 1em 1em;
  color: white;
  font-style: italic;
  margin-inline: auto;
}
