@use "../globals/colors" as c;

.footer {
  min-block-size: 1rem;
  background-color: c.get("background-solid");
  color: white;
  position: sticky;
  bottom: 0;
  padding-block: 3rem 1rem;
}

.small-print {
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5em 1em 1em;
  color: white;
  font-style: italic;
  margin-inline: auto;
}
