@use "../globals/patterns" as p;
@use "../globals/colors" as c;

.chip {
  @include p.element;
  background-color: transparent;
  padding: 0.125rem 0.5rem;
  font-size: var(--step--1);

  &.special {
    border-color: hsl(from #{c.getSpecial("background-solid")} h s l / 0.5);
    color: c.getSpecial("text-low-contrast");

    &.inverted {
      border-color: hsl(from #{c.getSpecial("background-element-hover")} h s l / 0.5);
      color: c.getSpecial("background-subtle");
    }
  }

  &.success {
    border-color: hsl(from #{c.getSuccess("background-solid")} h s l / 0.5);
    color: c.getSuccess("text-low-contrast");

    &.inverted {
      border-color: hsl(from #{c.getSuccess("background-element-hover")} h s l / 0.5);
      color: c.getSuccess("background-subtle");
    }
  }

  &.danger {
    border-color: hsl(from #{c.getDanger("background-solid")} h s l / 0.5);
    color: c.getDanger("text-low-contrast");

    &.inverted {
      border-color: hsl(from #{c.getDanger("background-element-hover")} h s l / 0.5);
      color: c.getDanger("background-subtle");
    }
  }

  &.warning {
    border-color: hsl(from #{c.getWarning("background-solid")} h s l / 0.5);
    color: c.getWarning("text-low-contrast");

    &.inverted {
      border-color: hsl(from #{c.getWarning("background-element-hover")} h s l / 0.5);
      color: c.getWarning("background-subtle");
    }
  }

  &.gray {
    border-color: hsl(from #{c.getGray("background-solid")} h s l / 0.5);
    color: c.getGray("text-low-contrast");

    &.inverted {
      border-color: hsl(from #{c.getGray("background-element-hover")} h s l / 0.5);
      color: c.getGray("background-subtle");
    }
  }

  &.small {
    font-family: 'Courier New', Courier, monospace;
    @include p.element-small;
    font-size: var(--step--2);
    text-transform: uppercase;
    font-weight: bolder;
  }
}