.image-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(23ch, 100%), 1fr));
  gap: 1.75rem;
  grid-auto-flow: dense;

  figure {
    height: min-content;
  }

  // hacky solution to remove empty <p> tags ;-(
  .image-text-left p:emtpy,
  figure+p:empty {
    display: none;
  }

  &.tables {
    >* {
      min-width: max-content;
    }

    table {
      width: 100%;
    }
  }

  &.partner {
    img {
      max-width: 15rem;
      padding: 1rem;
      background: white;
    }
  }
}