@use "../globals/fonts" as f;
@use "../globals/colors" as c;

.main-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: 0.5rem;
  }

  ul ul > li + li {
    margin-top: 0.1rem;
  }

  li > ul {
    margin-top: 0.1rem;
  }

  > ul > li {
    > a {
      @include f.font-weight(700);
    }

    li {
      padding-left: 1rem;
    }
  }

  a {
    color: c.get("text-high-contrast");
    text-decoration: none;
    display: block;
    padding: 0.25rem 0.5rem;
    position: relative;

    &::after {
      content: "";
      block-size: 100%;
      position: absolute;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      inset: 0;
      z-index: -1;
      opacity: 0;
      background-color: c.get("text-low-contrast");
      background: linear-gradient(
        90deg,
        c.get("text-high-contrast") 0%,
        c.get("text-low-contrast") 100%
      );
      transition: opacity 0.2s 0s ease-in-out;
    }

    &:hover {
      color: c.get("background");

      &::after {
        opacity: 1;
      }
    }

    &:focus-visible {
      outline: 3px solid c.get("accent");
      outline-offset: 0.25rem;
    }
  }
}

.secondary-navigation {
  position: relative;
  padding-block: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    inset: 0 0 auto;
    border-top: 0.125rem solid c.get("border-subtle");
    margin-inline: 0.5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: 0.5rem;
  }

  ul ul > li + li {
    margin-top: 0.1rem;
  }

  li > ul {
    margin-top: 0.1rem;
  }

  > ul > li li {
    padding-left: 1rem;
  }

  a {
    color: c.get("text-high-contrast");
    text-decoration: none;
    display: block;
    padding: 0.25rem 0.5rem;

    &:hover {
      text-decoration: underline;
      color: c.get("accent-hover");
    }

    &:focus-visible {
      outline: 3px solid c.get("accent");
      outline-offset: 0.25rem;
    }
  }
}
