.primary-content {
  margin-block: 1rem;

  display: grid;
  grid-template-columns: [full-start] 1fr [slim-start] 80vw [slim-end] 1fr [full-end];

  &, & > astro-island {
    > * {
      grid-column: slim;
    }
  
    > .full-width {
      grid-column: full;
    }
  }
}
