---
import GdnLogo from "@common/layouts/partials/logos/gdn.astro";
import LstLogo from "@common/layouts/partials/logos/lst.astro";
import RstLogo from "@common/layouts/partials/logos/rst.astro";

type Props = {
  siteCode: string;
};

const { siteCode } = Astro.props;
---

<div class="site-logo">
  <a href="/">
    {
      siteCode === "lst" ? (
        <LstLogo />
      ) : siteCode === "rst" ? (
        <RstLogo />
      ) : (
        <GdnLogo />
      )
    }
  </a>
</div>
