@use "./globals";

@use "./components";

@use "./utils/helpers";

.primary-content {
  section {
    min-height: 80vh;
    margin-bottom: 20vh;
  }
}

:target::before {
  block-size: max-content;
  margin-top: 0.5rem;
}
