<!DOCTYPE html>
<html lang="de" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if global.description %}
            <meta name="description" content="{{ global.description }}">
        {% endif %}
        {% if global.keywords %}
            <meta name="keywords" content="{{ global.keywords }}">
        {% endif %}
        <title>{{ (title + ' | ') if title }}{{global.siteName}}</title>
        <link rel="stylesheet" href="style/style.css">
        <script src="https://kit.fontawesome.com/ed5a2d737b.js" crossorigin="anonymous"></script>
        <script src="/scripts/script.js" type="module" defer></script>
    </head>

    <body {{ ('class=' + global.siteCode) if global.siteCode }}>
        {% include "./partials/header.njk" %}
        <main class="main-content">
            {{ content | safe }}

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, et. Corrupti, excepturi. Culpa eaque distinctio est nam accusamus nobis enim quo, quos ipsa porro. Quasi veniam quidem excepturi dicta quo!</p>
            <p>Asperiores natus labore aliquam repellendus, ad ratione architecto esse debitis adipisci cupiditate quod corrupti accusamus officiis, fugiat nam distinctio quisquam assumenda? Qui eveniet dolorem nobis consequatur suscipit non eos expedita.</p>
            <p>Recusandae deleniti itaque cum in repellendus eius saepe est sapiente illo exercitationem perspiciatis aperiam eum architecto at quam, optio voluptates porro expedita ab? Amet, modi odio ut officiis sed cupiditate?</p>
            <p>Enim molestiae consectetur doloremque quisquam tempore voluptate maiores, saepe ea incidunt. Facilis ipsum placeat facere dolorum adipisci voluptatum exercitationem nam saepe veniam porro, aliquid ut aut assumenda quia debitis recusandae!</p>
            <p>Dolorum provident repellendus pariatur reprehenderit suscipit doloremque omnis assumenda error, atque vero perspiciatis quo molestiae modi magni fugiat explicabo laborum inventore asperiores, delectus maiores, molestias dignissimos quas repellat odit. Eaque?</p>
            <p>Quia sequi perferendis laboriosam, repellendus iste eveniet natus ullam, velit maiores delectus officiis! Accusamus adipisci amet magnam optio sunt quia, et ipsa repellendus ad ea molestias impedit facere quam rem.</p>
            <p>Voluptate minus fugiat quia iusto nulla reiciendis dolor voluptas, in accusantium numquam ex sed, consectetur nisi officia minima vero. Cupiditate ullam sed quae error culpa eos ad id corrupti? Inventore.</p>
            <p>Vitae dolore ipsa minima nesciunt expedita corporis numquam suscipit quis libero architecto placeat tempore itaque temporibus animi, molestiae voluptatem quia dolor ratione iste similique dolorem nihil fuga. Debitis, eligendi facere?</p>
            <p>Fuga itaque quisquam deserunt aspernatur nihil consequuntur labore, facilis molestias unde facere eius corporis quo, dolores velit animi fugiat consectetur, ratione fugit quibusdam! Tempore nihil distinctio aliquid dolor id natus.</p>
            <p>Nesciunt, odio ad veniam, repellendus odit provident quaerat sed alias excepturi quam totam modi, commodi tempora ab molestias eius quibusdam adipisci beatae similique inventore? Dolorum quibusdam eum unde consectetur architecto!</p>
            <p>Cumque voluptate dolorum quibusdam ut ab aliquam iste? Voluptates voluptatem officia ad culpa sequi accusamus, esse sapiente numquam reiciendis illo itaque aspernatur blanditiis, ex, modi deleniti ratione quas quam sint?</p>
            <p>Quidem amet aliquam ipsum soluta, laborum perferendis exercitationem eaque commodi sapiente rem delectus velit ab magni culpa excepturi quod fugiat. Nisi alias, nesciunt asperiores est deserunt voluptas expedita sapiente quos.</p>
            <p>Eos illum eius aliquid praesentium dolorum voluptas, corporis nesciunt culpa ab debitis esse, distinctio error laboriosam veritatis corrupti similique sapiente impedit itaque animi cumque. Dicta deleniti sunt repudiandae quae ea!</p>
            <p>Neque a recusandae expedita voluptas minima pariatur sed sequi enim. Dignissimos impedit voluptates facere quia enim. Molestias, totam beatae, obcaecati asperiores praesentium ut, ipsum quia voluptas tempora est iste eius?</p>
            <p>Reiciendis rem illum sunt voluptas? Doloremque obcaecati, error quia sunt repudiandae consequuntur dicta adipisci consectetur architecto explicabo, inventore repellendus qui. Explicabo odio hic debitis earum mollitia minima recusandae in maiores.</p>
            <p>Aliquid, praesentium veritatis. Cumque, quibusdam debitis asperiores, eveniet ad voluptates totam deserunt fuga nesciunt iusto dignissimos libero ipsum dolorum quis quam similique commodi quae voluptas reiciendis non consectetur vel quidem?</p>
            <p>Ad assumenda laudantium impedit nisi, culpa deserunt eaque quisquam. Voluptatum illo esse, possimus aliquam corporis molestiae illum quas cupiditate iste labore aperiam aut mollitia debitis? Repellendus praesentium corporis sit temporibus.</p>
            <p>Molestias, quisquam quasi aut, commodi doloribus blanditiis ipsa et amet nihil natus possimus quidem. Assumenda quibusdam obcaecati doloremque itaque mollitia sed omnis quasi quod modi iure, blanditiis sint? Dolor, velit!</p>
            <p>Maxime, beatae. Quam est mollitia optio autem a! Maiores rerum dolore quam in consequuntur. Nisi molestias ab vitae reiciendis perspiciatis, commodi minus possimus ducimus beatae nemo consectetur enim optio nam?</p>
            <p>Et atque velit tempore non recusandae ullam deserunt, iure ipsam voluptate enim laudantium est saepe temporibus architecto quo! Error cupiditate reprehenderit corporis cumque? Quos officia dignissimos rem maiores laboriosam commodi!</p>
            <p>Iure nostrum quos mollitia suscipit similique non qui culpa quae. Quidem beatae magnam nesciunt, quis nulla corrupti repellendus repudiandae labore, eos ad quasi amet porro quas dolor placeat suscipit? Consequatur.</p>
            <p>Obcaecati est fugit eum. Blanditiis accusantium commodi rem nisi corporis magni deleniti excepturi architecto quam recusandae! Delectus sapiente vitae, magni autem alias iste est, ab optio saepe iure, possimus modi.</p>
            <p>Quos sapiente amet rem corporis? Quis, quo earum voluptas fugiat incidunt quisquam in, ipsam voluptatem ex, hic iure porro perferendis laborum corrupti nulla nam dignissimos odit natus dolorem beatae eligendi.</p>
            <p>Ab, fugit fugiat omnis quis inventore reprehenderit esse animi molestias magni consequatur, recusandae similique soluta. Eos, ducimus tempore rem blanditiis aliquam minima explicabo alias vitae expedita reprehenderit sit ex incidunt!</p>
            <p>Quas veniam maiores temporibus, saepe sapiente recusandae excepturi molestias porro facere quo voluptatem mollitia exercitationem repudiandae fugit odit, autem cupiditate dolorum voluptas quibusdam eos, neque nobis cumque. Ad, ab itaque.</p>
            <p>Non perferendis quo rerum, inventore dicta quisquam atque sit fugit, reprehenderit nam distinctio itaque. Nesciunt nam pariatur magni. Aperiam neque eligendi, labore delectus consectetur repudiandae nostrum mollitia. Sapiente, magnam excepturi.</p>
            <p>Maiores exercitationem distinctio voluptates libero aperiam ab. Corporis sequi quos perferendis! In, asperiores consequuntur cupiditate, corrupti aspernatur a dolore similique exercitationem quisquam omnis, perferendis repudiandae. Amet esse sed ipsam nam?</p>
            <p>Quos similique fugit repudiandae, aliquid tenetur distinctio suscipit doloremque! Facilis sit iusto neque, magni fugit similique porro laboriosam voluptatibus illum, inventore corporis delectus voluptates sequi. Facere quae voluptates soluta aspernatur?</p>
            <p>Atque vel modi illo maxime distinctio magnam provident ratione possimus harum. Praesentium vel possimus ut consequatur in cupiditate corporis, vitae non repellendus numquam quos dolor eius nulla, consequuntur iusto id?</p>
            <p>Consectetur quis ab possimus unde repellendus laborum? Quidem, ut. Quod odit quam explicabo consectetur a consequuntur quas sint nemo quis corporis vitae velit at, officia aliquam numquam nesciunt, pariatur ut.</p>
        </main>
        {% include "./partials/footer.njk" %}
    </body>

</html>
