:root {
  --primary-brand-color: #003366;
  --secondary-brand-color: #000000;
  --contrast-brand-color: #ACB309;

  --dark-grey-color: #646464;
  --light-grey-color: #c4c4c4;

  --background-color: #ffffff;
}