---
import Layout from "@rst/layouts/Layout.astro";
import { Box } from "@common/components/Box";
---

<Layout>
  <h1>Anmeldung 2024</h1>
  <Box>
    <p>
      Die Anmeldung für 2024 ist nicht mehr möglich. Komme doch spontan vorbei -
      wir halten immer ein paar Plätze frei.
    </p>
  </Box>
  <Box type="special">
    <p>
      Möchtest du auch nach dem Event über Anlässe von uns informiert werden,
      dann empfehlen wir dir, unseren <a href="/newsletter"
        >Newsletter zu abonnieren</a
      >.
    </p>
  </Box>
</Layout>
