---
import Layout from "@rst/layouts/Layout.astro";
import { MeineAnmeldung as MA } from "@rst/components/anmeldung/MeineAnmeldung.tsx";
---

<Layout>
  <h1>Meine Anmeldung 2024</h1>
  <MA client:only="solid-js" />
</Layout>
