<ul class="g-calendar">

  {{ $data := slice }}

  {{ range .Site.Data.calendar.items }}
    {{ $fullDay := isset .start "date"  }}
    {{ $startDate := time (cond (isset .start "dateTime") .start.dateTime .start.date) }}
    {{ $endDate := time (cond (isset .end "dateTime") .end.dateTime .end.date) }}
    {{ if $fullDay }} {{ $endDate = $endDate.AddDate 0 0 -1 }} {{ end }}

    {{ $curr := dict
      "title" .summary
      "description" (.description | markdownify)
      "location" .location
      "link" .htmlLink
      "startDate" $startDate
      "endDate" $endDate
      "fullDay" $fullDay
      "multipleDay" (ne ($startDate | time.Format "02") ($endDate | time.Format "02"))
    }}
    {{ $data = $data | append $curr }}
  {{ end }}

  {{ range sort $data "startDate" }}

  <li data-year="{{.startDate | time.Format "2006"}}" data-month="{{.startDate | time.Format "01"}}" data-date="{{.startDate | time.Format "02"}}">
    {{ if in .title "Spieltreffen" }}
    <img src="/images/avatars/blue.png">
    {{ else if in .title "Spieltreffen" }}
    <img src="/images/avatars/blue.png">
    {{ else if in .title "Spieltage" }}
    <img src="/images/avatars/lst.png">
    {{ else if in .title "Rollenspieltage" }}
    <img src="/images/avatars/rst.png">
    {{ else if in .title "Rollenspiel-Stammtisch" }}
    <img src="/images/avatars/lila.png">
    {{ else if in .title "Stammtisch" }}
    <img src="/images/avatars/green.png">
    {{ else if in .title "Spielabend" }}
    <img src="/images/avatars/green.png">
    {{ else if in .title "Buchclub" }}
    <img src="/images/avatars/green.png">
    {{ else }}
    <img src="/images/avatars/gdn.png">
    {{ end }}
    <div class="body">
      <h1 class="title">{{ .title }}</h1>
      <p class="date">
        <small><a href="{{ .link }}" style="text-decoration: none;" target="_blank">📅</a></small>
        {{ .startDate | time.Format ":date_full" }}{{ if not .fullDay}}, {{ .startDate | time.Format ":time_short"
        }} {{ if eq site.Language.Lang "de" }}Uhr{{ end }} {{end}}
        {{ if .multipleDay }} <br /> <em>{{ if eq site.Language.Lang "de" }}bis{{else}}to{{ end }}</em>  {{ .endDate | time.Format ":date_full" }}{{ if not .fullDay}}, {{ .endDate | time.Format ":time_short"
      }} {{ if eq site.Language.Lang "de" }}Uhr{{ end }} {{end}}{{end}}
      </p>
      <p>{{ .description }}</p>
      {{if and (not (in .title "Online")) (ne .location nil) }}
      <p><a href="http://maps.google.com/?q={{.location}}" target="_blank">{{.location}}</a> <em style="display:inline-block;">(Google Maps)</em></p>
      {{end}}
    </div>
  </li>
  {{ end }}
</ul>
