---
import type { NavigationEntry } from "@common/layouts/types.ts";

type Props = {
  entries: NavigationEntry[];
};

const { entries } = Astro.props;
---

<nav class="main-navigation" aria-label="main navigation">
  <ul>
    {
      entries
        .toSorted((a, b) => a.order - b.order)
        .map((entry) => (
          <li>
            <a href={entry.url}>{entry.label}</a>
          </li>
        ))
    }
  </ul>
</nav>
