@use "./utils/hsl" as *;

@use "./main" with (
  $color1: hsl(10 100% 99.4%),
  $color2: hsl(8 100% 98.4%),
  $color3: hsl(8 100% 96.6%),
  $color4: hsl(8 100% 94.3%),
  $color5: hsl(8 92.8% 91%),
  $color6: hsl(9 84.7% 86.3%),
  $color7: hsl(10 77.3% 79.5%),
  $color8: hsl(10 71.6% 71%),
  $color9: hsl(10 78% 54%),
  $color10: hsl(10 71.5% 50%),
  $color11: hsl(10 82% 43.5%),
  $color12: hsl(10 50% 13.5%),
  $colorDark1: hsl(10 23% 9.4%),
  $colorDark2: hsl(9 44.8% 11.4%),
  $colorDark3: hsl(8 52% 15.3%),
  $colorDark4: hsl(7 56.3% 18%),
  $colorDark5: hsl(7 60.1% 20.6%),
  $colorDark6: hsl(8 64.8% 24%),
  $colorDark7: hsl(8 71.2% 29.1%),
  $colorDark8: hsl(10 80.2% 35.7%),
  $colorDark9: hsl(10 78% 54%),
  $colorDark10: hsl(10 81.7% 59%),
  $colorDark11: hsl(10 85% 62.8%),
  $colorDark12: hsl(10 89% 96%),
  $colorAccent1: hsl(25 30% 41%),
  $colorAccent2: hsl(20 30% 19%),
  $colorAccentDark1: hsl(28 60% 64.5%),
  $colorAccentDark2: hsl(30 67% 94%),
);
