---
import GdnLogo from "@common/layouts/partials/logos/gdn.astro";
import LstLogo from "@common/layouts/partials/logos/lst.astro";
import RstLogo from "@common/layouts/partials/logos/rst.astro";

type Props = {
  development: boolean;
};

const { development } = Astro.props;
---

<div class="site-switcher">
  <h1>Unser Netzwerk</h1>
  <div class="switcher">
    <div class="logo">
      <a href={`https://${development ? "test." : ""}gildedernacht.ch/`}>
        <div class="network-name">
          <h2>Gilde der Nacht</h2>
          <h3>Luzerner Spielverein</h3>
        </div>
        <GdnLogo />
      </a>
    </div>
    <div class="logo">
      <a href={`https://${development ? "test." : ""}spieltage.ch/`}>
        <div class="network-name">
          <h2>Luzerner Spieltage</h2>
          <h3>22. + 23. März 2025</h3>
        </div>
        <LstLogo />
      </a>
    </div>
    <div class="logo">
      <a href={`https://${development ? "test." : ""}rollenspieltage.ch/`}>
        <div class="network-name">
          <h2>Luzerner Rollenspieltage</h2>
          <h3>23. + 24. August 2025</h3>
        </div>
        <RstLogo />
      </a>
    </div>
  </div>
</div>
