<button class="button hidden" data-toggle-theme>
  <span data-toggle-theme-to-light class="hidden">
    <i class="fa-duotone fa-sun-bright"></i>
  </span>
  <span data-toggle-theme-to-dark>
    <i class="fa-duotone fa-moon-stars"></i>
  </span>
</button>
