$color1: hsl(225 60% 99.4%) !default;
$color2: hsl(223 100% 98.6%) !default;
$color3: hsl(223 98.4% 97.1%) !default;
$color4: hsl(223 92.9% 95%) !default;
$color5: hsl(224 87.1% 92%) !default;
$color6: hsl(224 81.9% 87.8%) !default;
$color7: hsl(225 77.4% 82.1%) !default;
$color8: hsl(226 75.4% 74.5%) !default;
$color9: hsl(226 70% 55.5%) !default;
$color10: hsl(226 58.6% 51.3%) !default;
$color11: hsl(226 55% 45%) !default;
$color12: hsl(226 62% 17%) !default;

$colorDark1: hsl(229 24% 10%) !default;
$colorDark2: hsl(230 36.4% 12.9%) !default;
$colorDark3: hsl(228 43.3% 17.5%) !default;
$colorDark4: hsl(227 47.2% 21%) !default;
$colorDark5: hsl(227 50% 24.1%) !default;
$colorDark6: hsl(226 52.9% 28.2%) !default;
$colorDark7: hsl(226 56% 34.5%) !default;
$colorDark8: hsl(226 58.2% 44.1%) !default;
$colorDark9: hsl(226 70% 55.5%) !default;
$colorDark10: hsl(227 75.2% 61.6%) !default;
$colorDark11: hsl(228 100% 75.9%) !default;
$colorDark12: hsl(226 83% 96.3%) !default;

:root {
  color-scheme: light;

  --clr-1: #{$color1};
  --clr-2: #{$color2};
  --clr-3: #{$color3};
  --clr-4: #{$color4};
  --clr-5: #{$color5};
  --clr-6: #{$color6};
  --clr-7: #{$color7};
  --clr-8: #{$color8};
  --clr-9: #{$color9};
  --clr-10: #{$color10};
  --clr-11: #{$color11};
  --clr-12: #{$color12};
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --clr-1: #{$colorDark1};
    --clr-2: #{$colorDark2};
    --clr-3: #{$colorDark3};
    --clr-4: #{$colorDark4};
    --clr-5: #{$colorDark5};
    --clr-6: #{$colorDark6};
    --clr-7: #{$colorDark7};
    --clr-8: #{$colorDark8};
    --clr-9: #{$colorDark9};
    --clr-10: #{$colorDark10};
    --clr-11: #{$colorDark11};
    --clr-12: #{$colorDark12};
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --clr-1: #{$color1};
  --clr-2: #{$color2};
  --clr-3: #{$color3};
  --clr-4: #{$color4};
  --clr-5: #{$color5};
  --clr-6: #{$color6};
  --clr-7: #{$color7};
  --clr-8: #{$color8};
  --clr-9: #{$color9};
  --clr-10: #{$color10};
  --clr-11: #{$color11};
  --clr-12: #{$color12};
}

[color-scheme="dark"] {
  color-scheme: dark;

  --clr-1: #{$colorDark1};
  --clr-2: #{$colorDark2};
  --clr-3: #{$colorDark3};
  --clr-4: #{$colorDark4};
  --clr-5: #{$colorDark5};
  --clr-6: #{$colorDark6};
  --clr-7: #{$colorDark7};
  --clr-8: #{$colorDark8};
  --clr-9: #{$colorDark9};
  --clr-10: #{$colorDark10};
  --clr-11: #{$colorDark11};
  --clr-12: #{$colorDark12};
}
