@use "fonts" as f;
@use "colors" as c;

// Typography

:root {
  font-size: calc(1rem + 0.5vw);
}

body {
  @include f.font-family;
  @include f.font-weight;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include f.font-family("display");
  text-transform: uppercase;
}

strong {
  @include f.font-weight(700);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption,
blockquote {
  max-width: 60ch;
}

// Colors

body {
  background-color: c.get("background-subtle");
  color: c.get("text-high-contrast");
}

body.gdn {
  background-image: url("/images/background-gdn.svg");
}

body.lst {
  background-image: url("/images/background-lst.svg");
}

body.rst {
  background-image: url("/images/background-rst.svg");
}

::selection {
  background-color: c.get("background-solid");
  color: white;
}

// Layout

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}
