@use "fonts" as f;
@use "colors" as c;

// Typography

:root {
  font-size: calc(1rem + 0.5vw);
}

body {
  @include f.font-family;
  @include f.font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include f.font-family("display");
  text-transform: uppercase;
}

strong {
  @include f.font-weight(700);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol:not([role="list"]),
ul:not([role="list"]),
blockquote {
  max-width: 60ch;
}

h1 {
  font-size: max(2em, 1rem);
}

h2 {
  font-size: max(1.5em, 1rem);
}

h3 {
  font-size: max(1.17em, 1rem);
}

h4 {
  font-size: max(1em, 1rem);
}

p,
li {
  font-size: max(1em, 1rem);
}

// Colors

body {
  background-color: c.get("background-subtle");
  background-position: 50% 0;
  color: c.get("text-high-contrast");
}

body.gdn {
  background-image: url("/images/background-gdn.svg");
}

body.lst {
  background-image: url("/images/background-lst.svg");
}

body.rst {
  background-image: url("/images/background-rst.svg");
}

::selection {
  background-color: c.get("accent");
  color: white;
}

// Layout

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}
