@use "../globals/colors" as c;

@mixin element {
  background-color: c.get("background-element");
  border: 0.0625rem solid c.get("border-element");
  border-bottom-width: 0.25rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

@mixin link {
  color: c.get("accent");
  border-bottom: 0.125rem solid currentColor;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-inline: 0.25rem;

  &:hover,
  &:active {
    color: c.get("accent-hover");
  }

  &:focus {
    color: c.get("accent-hover");
    outline: 0.25rem solid c.get("accent-hover");
    outline-offset: 0.125rem;
  }
}

@mixin button {
  border: 0.0625rem solid c.get("background-solid");
  border-bottom-width: 0.25rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: c.get("text-low-contrast");
  background-color: c.get("background");
  cursor: pointer;
  touch-action: manipulation;

  &:hover,
  &:active {
    color: c.get("text-high-contrast");
    border-color: c.get("text-high-contrast");
  }

  &:focus-visible {
    outline: 3px solid c.get("accent");
    outline-offset: 0.25rem;
  }
}

@mixin input {
  border: 0.0625rem solid c.get("background-solid");
  padding: 0.25rem 0.5rem;
  border-bottom-width: 0.25rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: c.get("text-low-contrast");
  background-color: c.get("background");


  &:focus-visible {
    outline: 3px solid c.get("accent");
    outline-offset: 0.25rem;
  }
}
