---
import Favicon from "@common/layouts/partials/favicon.astro";
import "@hhh/components/webapp/style/custom.css";
---

<!doctype html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hungry Hungry Hippos</title>
    <Favicon />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/df72c7efcf.js"
      is:inline
      crossorigin="anonymous"></script>
  </head>

  <body id="root">
    <slot />
  </body>
</html>
