@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

:root {
  --primary-font-family: 'Lato', sans-serif;
  --heading-font-family: 'Oswald', sans-serif;
  --serif-font: 'PT Serif', serif;
}