.gdn-fancy-header {
  width: 100%;
}

.gdn-fancy-header img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 40%;
}

.gdn-fancy-header p {
  font-style: italic;
  font-size: 0.5em;
}
