.color-swatch {
    --size: 10rem;
    @include border-radius;
    @include box-shadow;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-content: center;
    font-size: 2em;
    font-weight: bold;
}
