// Reset
@import "reset/reset";

// Helper
@import "mixins/mixins";

// Branding
@import "branding/variables";
@import "branding/colors";
@import "branding/type";

// Components
@import "components/design/color-swatch";

// Layout
@import "layout/cluster";

// Pages

// Utilities



body {
    background-color: var(--color-surface-primary);
    color: var(--color-text-primary);
}

a {
    color: var(--color-accent);
}
